.loader {
  background-color: #242526;
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loader img {
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes rotate {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
