.loader {
  background-color: #18181a;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  z-index: 12;
}

.loader img {
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.loader__progress {
  margin-top: 50px;
  width: 10vw !important;
  border: 1px solid black;
}

@keyframes rotate {
  0% {
    transform: rotate(-360deg);
  }

  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media only screen and (max-width: 650px) {
  .loader__progress {
    width: 50vw !important;
  }
}
@media only screen and (max-width: 650px) {
  .loader {
    width: 103vw;
    height: 140vh;
    z-index: 900;
  }
}
