.operations__set {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.operations__set__add {
  width: 10px;
  height: 10px;
}
.operations__set__cross__icon {
  transform: rotate(43deg) !important;
}
.operations__set__dot {
  font-size: 5em;
}
