@font-face {
  font-family: LCD;
  src: url("../../Assets/lcdfont.ttf");
}
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111213;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.vectorlab {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px;
  background-color: #252526;
  width: 70vw;
  height: 80vh;
  border-radius: 10px;
  margin: 30px 30px 50px 30px;
  overflow: hidden;
  flex: 1;
}

.displayvectors {
  height: 70vh;
  width: 400px;
  overflow-y: scroll;
  background-color: #111213;
  border-radius: 5px;
  padding: 10px 5px;
}
.displayvectorstab {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
}
.displayvectorstab:hover {
  background-color: #232323;
}
.displayvectorstab__name {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  font-size: 2em;
}
.displayvectorstab__name__input {
  color: white;
}
.displayvectors__name__icon {
  color: white;
}

.displayvectorstab__data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30px;
  font-size: 13px;
}
.displayvectorstab__data__xcomp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgba(253, 253, 253, 0.658);
}
.displayvectorstab__data__ycomp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgba(253, 253, 253, 0.658);
}
.displayvectorstab__data__operations {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(253, 253, 253, 0.658);
}
.svg-slider {
  display: none;
}

.numbers {
  font-family: LCD;
}
@media only screen and (max-width: 700px) {
  .vectorlab {
    font-size: 8px;
    padding: 10px 0px 0px 0px;
    border-radius: 0px;

    width: 98vw;
    margin: 5px 0px 0px 10px;
  }

  .vectorlab__button {
    padding: 0px;
  }
  .displayvectorstab:hover {
    background-color: #111213;
  }
  .displayvectors {
    padding: 0px;
    height: 225px;
    width: 0vw;
  }
  .displayvector-open {
    overflow-x: hidden;
    padding: 5px;
    top: 65vh;
    left: 1px;
    position: absolute;
    height: 35vh;
    width: 98vw;
    transition: 1s linear;
  }
  .displayvector-close {
    overflow-x: hidden;
    padding: 0px;
    top: 65vh;
    left: 1px;
    position: absolute;
    height: 35vh;
    width: 0vw;
    transition: 1s linear;
  }

  .displayvectorstab {
    padding: 0px;
    margin-top: 0px;
    margin-left: 5px;
    z-index: 12;
    font-size: 7px;
  }
  .displayvectorstab__data {
    font-size: 8px;
  }
  .displayvectorstab__input__xcomp {
    font-size: 8px;
  }
  .displayvectorstab__input__xcomp__label {
    font-size: 5px !important;
  }
  .vectorlab__input {
    position: absolute;
    bottom: 82vh;
    right: 3px;
    padding: 5px !important;
  }

  .svg-slider {
    transform: rotate(0deg);
    fill: white;
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 480px;
    left: 1px;
    transition: 1s;
  }
  .svg-slider-on {
    transform: rotate(180deg);
    transition: 1s;
  }
}
