.Configuration {
  background-color: #242526;
  color: white;
  border-radius: 5px;
  margin: 10px;
  width: calc(25vw -10px);
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.bottom {
  margin-bottom: 10px;
}
.Configuration__Name {
  margin-left: 10px;
  font-size: 1.2em;
}
.Configuration__Edit {
  margin-right: 10px;
}
.Configuration__Current {
  margin-left: 20px;
}
