.controls {
  display: flex;
  flex-direction: column;
  margin: 30px 0px 0px 10px;
}
.icon-materialui {
  color: white !important;
}

.icon {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 20px 0px 20px 30px;
  fill: #666;
}
.icon:hover {
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px black;
  transition: 0.1s;
  fill: #eee;
}
.graph {
  fill: white;
}

.on {
  fill: white;
}

@media only screen and (max-width: 650px) {
  .controls {
    display: flex;
    height: 0px;
    margin: 0px;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
  }

  .icon {
    height: 70px;
    padding: 13px;
    margin: 5px 0px 0px 5px;
    fill: #666;
  }
  .icon:hover {
    box-shadow: 0px 0px 0px 0px;
  }
}
