.controls {
  display: flex;
  flex-direction: column;
  margin: 30px 0px 0px 10px;
}
.icon {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 20px 0px 20px 30px;
  fill: #666;
}
.icon:hover {
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px black;
  transition: 0.1s;
  fill: #eee;
}
.graph {
  fill: white;
}

.on {
  fill: white;
}

@media only screen and (max-width: 650px) {
  .controls {
    display: flex;
    position: absolute;
    top: 465px;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 30px 10px 30px;
    padding: 100px 10px 0px 10px;
    width: 100vw;
  }

  .icon {
    width: 50px;
    height: 50px;
    padding: 12px;
    margin: 0px;
    fill: #666;
  }
}
