@import "src/styles/lib";

.home {
  color: white;
  opacity: 0.9;

  &__onboard {
    &__text {
      margin: 25vh $horizontal-padding;
    }

    height: 70vh;
    width: 100vw;

    &__top-text {
      font-weight: 300;
      font-size: 1.6em;
    }

    h1 {
    }

    &__bottom-text {
      font-weight: 300;
      font-size: 1.6em;
    }
  }

  &__labs {
    background-color: $tc;
    height: 100vh;
    display:flex;
    justify-content:space-around;
    padding-top:8vh;
    

    &-bg {
      position: relative;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      width: 100vw;
      height: 20vh;
      background-color: $tc;
      z-index: -1;
    }
  }
}

.labcontainer {
  background-color: $a1;
  color: $grey2;
  border-radius: 10px;
  width: 25vw;
  height: 60vh;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__name {
    margin-top: 30vh;
    color: white;
    font-weight: 800;
    transform: translate(0, 0);
    transition: transform 0.3s, font-size 0.3s;
    font-size: 3em;
  }

  &__desc {
    display: flex;
    margin: 0 3vw 10vh 3vw;
    transition: display 4s;
  }

  &__button {
    display: none;
    margin-bottom:2vh;
    font-size:1.2em;
    font-weight:700;
    color:white;
    padding:1em;
    border-radius:4px;
    background-color:$a4;
  }
  .labcontainer__overview{
    width:23vw;
    height:40vh;
    display:none;
  }

  &:hover {

    .labcontainer__name {
      display:none;
    }
    .labcontainer__desc {
      display: none;
    }
    .labcontainer__overview{
      display:flex;
    }

    .labcontainer__button{
      display:flex;
    }
  }
}
