.root {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.learntab {
  font-size: 2em;
  font-weight: bolder;
  width: 50vw;
  background-color: #242526;
  color: white;
  border-radius: 10px;
  padding: 16px;
  cursor: pointer;

  margin: 10px 0px 10px 0px;
}
.subtopictab {
  font-size: 0.4em !important;
  color: rgb(204, 194, 194);
}
.learntab__title {
  font-size: 0.8em;
}
.summary {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 650px) {
  .learntab {
    width: 80vw;
    padding: 5px;
  }
}
