.operations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
  background-color: inherit;
  color: white;
}
v .operations__label {
  display: flex;
}

.operationset__inp {
  display: flex;
  margin-right: 5%;
  align-items: center;
}
.operationset {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.button {
  color: "white";
}

.vectorInp {
  border-radius: 10px;
  padding: 10px !important;
  color: white !important;
  background-color: #242526 !important;
}

.menuitem {
  color: white !important;
  background: #242526 !important;
}
.MuiInputBase-root {
  color: white !important;
}
@media only screen and (max-width: 700px) {
  .vectorInp {
    border-radius: 10px;
    padding: 2px !important;
    color: white !important;
    font-size: 5px;
    background-color: #242526 !important;
  }

  .vectorInp {
    border-radius: 10px;
    padding: 5px 10px !important;
    color: white !important;
    font-size: 10px !important;
    background-color: #242526 !important;
  }
}
