.Experiment {
  height: 70vh;
  width: 65vw;
  background-color: black;
  border-radius: 5px;
  border-radius: 10px;
}

.Experiment__Dotphy {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  transform: translate(-200%, -200%);
  z-index: 99999;
}
