.app {
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 650px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    height: 80vh;
    width: 96vw;
    justify-content: space-between;
    align-items: center;
  }
  .app {
    width: 99vw;
  }
}
