.kinematicslab {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px;
  background-color: #252526;
  width: 70vw;
  height: 80vh;
  border-radius: 10px;
  margin: 30px 30px 50px 30px;
  overflow: hidden;
  flex: 1;
}
